<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PROJETOJSPCADASTRO_MYSQL_COMSERVLET_JAVAEE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListarUsuariosServlet</display-name>
    <servlet-name>ListarUsuariosServlet</servlet-name>
    <servlet-class>Servlet.ListarUsuariosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuariosServlet</servlet-name>
    <url-pattern>/ListarUsuariosServlet</url-pattern>
  </servlet-mapping>
</web-app>